<section id="adalabers-cards-title" class="adalabers-cards">
  <h2>Quiénes somos</h2>
  <article class="adalaber" id="andrea">
    <div class="team-picture">
      <img
        src="./assets/images/foto-andrea-2.jpg"
        alt="Foto de Andrea clavijo"
      />
    </div>
    <div class="team-text">
      <h4>Andrea Clavijo</h4>
      <p>
        Adalaber y futura programadora front-end con base de bióloga
        computacional. Creo mucho en que nunca es tarde para aprender algo nuevo
        y Adalab me ha dado las herramientas para ello. Aficionada al séptimo
        arte, el baile, y, sorprendentemente, la cocina. Quedaba con R, Python y
        sus librerías. Actualmente me llevo mejor con CSS, HTML y Javascript.
      </p>
      <nav class="social-media">
        <ul>
          <li>
            <a
              href="https://twitter.com/AndreaCR89"
              target="_blank"
              title="Ir a Twitter"
              ><i class="fab fa-twitter"></i>
            </a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/acricaldi"
              target="_blank"
              title="Ir a Linkedin"
              ><i class="fab fa-linkedin"></i
            ></a>
          </li>
          <li>
            <a
              href="https://github.com/AndreaFCR"
              target="_blank"
              title="Ir a Github"
              ><i class="fab fa-github"></i
            ></a>
          </li>
          <li>
            <a href="mailto:andra.clavijor@gmail.com" title="Enviar correo"
              ><i class="fas fa-envelope"></i
            ></a>
          </li>
        </ul>
      </nav>
    </div>
  </article>
  <article class="adalaber" id="christina">
    <div class="team-picture">
      <img
        src="./assets/images/foto-cristina2.png"
        alt="Foto de Christina Lorenzo"
      />
    </div>
    <div class="team-text">
      <h4>Christina Lorenzo</h4>
      <p>
        Psicóloga apasionada de las relaciones interpersonales que se ha
        redescubierto enamorada relacionando código. Me encantan los pequeños
        detalles, los por qués, aprender idiomas y usarlos. Compartiendo cerveza
        siempre se cómo arreglar el mundo.
      </p>
      <nav class="social-media">
        <ul>
          <li>
            <a
              href="https://twitter.com/Codemaiden1
                "
              target="_blank"
              title="Ir a twitter"
              ><i class="fab fa-twitter"></i>
            </a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/christina-lorenzo-montes-20b076b6/
              "
              target="_blank"
              title="Ir a Linkedin"
              ><i class="fab fa-linkedin"></i
            ></a>
          </li>
          <li>
            <a
              href="https://github.com/Cristinalorenzomontes
                "
              target="_blank"
              title="Ir a Github"
              ><i class="fab fa-github"></i
            ></a>
          </li>
          <li>
            <a
              href="mailto:christinalorenzomontes@gmail.com"
              title="Enviar correo"
              ><i class="fas fa-envelope"></i
            ></a>
          </li>
        </ul>
      </nav>
    </div>
  </article>
  <article class="adalaber" id="concha">
    <div class="team-picture">
      <img src="./assets/images/foto-concha.jpg" alt="Foto de Concha Asensio" />
    </div>
    <div class="team-text">
      <h4>Concha Asensio</h4>
      <p>
        Abogada reintentada en Programadora Front-End junior, con experiencia en
        HTML, CSS, JavaScript y React. Habituada a trabajar en equipo siguiendo
        una filosofía agile, utilizando metodologías como Scrum y Kanban, así
        como de trabajo en remoto. Habilidades de comunicación, gestión de
        personas, planificación y orientación al cliente. Motivada y con muchas
        ganas de seguir aprendiendo y desarrollándome como profesional en este
        mundillo del desarrollo web.
      </p>
      <nav class="social-media">
        <ul>
          <li>
            <a
              href="https://twitter.com/conchaasensio"
              target="_blank"
              title="Ir a Twitter"
              ><i class="fab fa-twitter"></i>
            </a>
          </li>
          <li>
            <a
              href="http://www.linkedin.com/in/conchaasensio/"
              target="_blank"
              title="Ir a Linkedin"
              ><i class="fab fa-linkedin"></i
            ></a>
          </li>
          <li>
            <a
              href="https://github.com/conchaasensiomr"
              target="_blank"
              title="Ir a Github"
            >
              <i class="fab fa-github"></i
            ></a>
          </li>
          <li>
            <a href="mailto:conchaasensiomr@gmail.com" title="Enviar correo"
              ><i class="fas fa-envelope"></i
            ></a>
          </li>
        </ul>
      </nav>
    </div>
  </article>
  <article class="adalaber" id="maria">
    <div class="team-picture">
      <img src="./assets/images/foto-maria.png" alt="Foto de María Segura" />
    </div>
    <div class="team-text">
      <h4>María Segura</h4>
      <p>
        Educadora Social con experiencia como formadora en Nuevas Tecnologías
        con personas en riesgo de exclusión social. En la actualidad, dando el
        paso hacia un nuevo rumbo profesional como es el Front-end en el que
        aportar toda mi creatividad y mis ganas de seguir aprendiendo. Me
        encantan los gatos, la pizza y las series.
      </p>
      <nav class="social-media">
        <ul>
          <li>
            <a
              href="https://twitter.com/MariaesSegura"
              target="_blank"
              title="Ir a Twitter"
              ><i class="fab fa-twitter"></i>
            </a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/mar%C3%ADa-segura-berm%C3%BAdez-b889a84b/"
              target="_blank"
              title="Ir a Linkedin"
              ><i class="fab fa-linkedin"></i
            ></a>
          </li>
          <li>
            <a
              href="https://github.com/seguramaria"
              target="_blank"
              title="Ir a github"
              ><i class="fab fa-github"></i
            ></a>
          </li>
          <li>
            <a href="mailto:msegber@gmail.com" title="Enviar correo"
              ><i class="fas fa-envelope"></i
            ></a>
          </li>
        </ul>
      </nav>
    </div>
  </article>
</section>
