<footer class="footer">
  <div class="wrapper">
    <div class="copyright">
      <p>Codebusters &copy; 2020</p>
    </div>
    <nav class="footer-nav">
      <ul>
        <li><a href="index.html#team">Equipo</a></li>
        <li><a href="index.html#previous-adalabers">Quiénes somos</a></li>
        <li><a href="contact.html">Contacto</a></li>
      </ul>
    </nav>
    <div class="logo">
      <a href="index.html#home" title="Ir a la Home">
        <img src="./assets/images/logo-adalab.png" alt="logo Adalab" />
      </a>
    </div>
  </div>
</footer>
