<header class="header">
  <!-- <div class="wrapper"> -->
    <section class="header-1">
      <h1 class="header-1-title">
        <span class="team-logo">
          <img
            src="./assets/images/icono-codebusters.png"
            alt="Icono del equipo"
            width="60px"
            height="50px"
          />
        </span>
        <span>CODEBUSTERS</span>
      </h1>
    </section>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item"><a href="#team">EQUIPO</a></li>
        <li class="header-nav-item">
          <a href="#about-us">QUIÉNES SOMOS</a>
        </li>
        <li class="header-nav-item"><a href="#contact">CONTACTO</a></li>
      </ul>
    </nav>
  </div>
</header>
