<header class="header" id="home">
  <section class="header-1">
    <h1 class="header-1-title">
      <span class="team-logo">
        <a href="index.html#home" title="Ir a la página principal">
          <img
            src="./assets/images/icono-codebusters.png"
            alt="Icono del equipo"
            width="60px"
            height="50px"
          />
        </a>
      </span>
      <span class="team-name">Codebusters</span>
    </h1>
  </section>
  <nav class="header-nav">
    <ul class="header-nav-list">
      <li class="header-nav-item"><a href="index.html#motto">Equipo</a></li>
      <li class="header-nav-item">
        <a href="index.html#previous-adalabers">Quiénes somos</a>
      </li>
      <li class="header-nav-item"><a href="contact.html">Contacto</a></li>
    </ul>
  </nav>
</header>
