<section class="hero">
  <div class="group-image">
    <img
      class="image-1"
      src="./assets/images/Tamaño-mobile.png"
      alt="Foto de equipo"
    />
    <img
      class="image-2"
      src="./assets/images/Tamaño-tablet.png"
      alt="Foto de equipo"
    />
    <img
      class="image-3"
      src="./assets/images/Tamaño-deskpot.png"
      alt="Foto de equipo"
    />
  </div>
  <div class="claim-title">
    <span>Time to </span>
    <span>Reinvent </span>
    <span>Yourself </span>
  </div>
</section>
