<section class="strength-weakness">
  <div class="strength">
    <h3>Fortalezas</h3>
    <p>
      Reinvención, adaptación y programación con buena técnica y muchas ganas,
      no nos falta la sonrisa y el buen ánimo para mejorar cada día, defendemos
      la comunicación constante y la cooperación entre nosotras y con el
      cliente. Comprometidas con el código tanto como con nosotras mismas.
    </p>
  </div>
  <div class="weakness">
    <h3>Debilidades</h3>
    <p>
      Somos programadoras junior y aún estamos en proceso de formación pero con
      un poco de paciencia sumado a las ganas y constancia que nos sobran,
      ¡formamos el perfecto equipo que no deja a nadie atrás!
    </p>
  </div>
</section>
