<section class="team-description">
  <h2 id="team">EQUIPO</h2>
  <p>
    Somos diversas y multidisciplinares. Hemos querido y nos hemos sabido
    reinventar en el maravilloso mundo de la diversidad digital. Nuestro bagaje
    pasado por ámbitos tan diversos como la biología, el derecho o el trabajo
    social nos aportan la base para llegar a cualquier público de una manera
    empática y comunicativa. Aunque acabamos de comenzar, ¡esto no es más que el
    principio!
  </p>
  <div class="square"></div>
</section>
