// QUIENES SOMOS

.adalabers-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
  /* height: 200px;
    width: 443px; */
}

.team-text {
  text-align: center;
}

.adalabers-cards h2 {
  color: $primary-color;
  font-family: $font-titles;
  line-height: 45px;
  width: 100%;
  text-align: center;
}

/* FOTOS */

.team-picture {
  border: 3px solid $light-grey;
  border-radius: 4px;
  width: 180px;
  height: 180px;
  overflow: hidden;
}

.team-picture img {
  width: 100%;
}

/* DESCRIPCIONES */

.adalaber {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 15px;
}

.adalabers-cards h4 {
  color: $dark-color;
  font-size: 20px;
  font-family: $font-main;
  line-height: 45px;
}

.adalabers-cards p {
  color: $dark-grey;
  font-family: $font-main;
  text-align: center;
  line-height: 24px;
}

/* REDES SOCIALES */
.social-media {
  margin-top: 15px;
}

.social-media li {
  display: inline-block;
  line-height: 30px;
}

.adalabers-cards li:after {
  content: "·";
}
.adalabers-cards li:nth-last-child(1):after {
  content: none;
}
.adalabers-cards a {
  color: $primary-color;
}

@media all and (min-width: 768px) {
  // QUIÉNES SOMOS
  .adalabers-cards h2 {
    margin-bottom: 41px;
  }

  .adalabers-cards {
    width: 767px;
    max-height: 1485px;
    padding: 44px;
  }

  .team-picture {
    width: 205px;
    height: 205px;
  }

  .adalaber {
    padding-bottom: 35px;
  }

  .adalaber:nth-of-type(odd) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .adalaber:nth-of-type(even) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }

  .adalaber:nth-of-type(odd) p {
    text-align: left;
    max-width: 440px;
    padding-bottom: 15px;
  }

  .adalaber:nth-of-type(even) p {
    text-align: right;
    max-width: 440px;
    padding-bottom: 15px;
  }

  .adalaber:nth-of-type(odd) .team-text {
    /* height: 310px;
    max-width: 443px; */
    text-align: left;
    padding-left: 31px;
  }

  .adalaber:nth-of-type(even) .team-text {
    /* height: 310px;
    max-width: 443px; */
    text-align: right;
    padding-right: 31px;
  }

  .social-media li {
    padding-top: 9;
  }
}

@media all and (min-width: 1200px) {
  // QUIÉNES SOMOS

  .team-picture {
    width: 278px;
    height: 278px;
  }
  .adalabers-cards {
    width: 1200px;
  }
}

// .adalabers-cards {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   padding: 30px 0px;
//   h2 {
//     color: $primary-color;
//     font-family: $font-titles;
//     font-size: 1.5rem;
//     line-height: 45px;
//     width: 100%;
//     text-align: center;
//   }
//   h4 {
//     color: $dark-color;
//     font-size: 1.25rem;
//     font-family: $font-main;
//     line-height: 45px;
//   }
//   p {
//     color: $dark-grey;
//     font-family: $font-main;
//     text-align: center;
//     line-height: 24px;
//   }
//   /* height: 200px;
//     width: 443px; */
//   li:after {
//     content: "·";
//   }
//   li:nth-last-child(1):after {
//     content: none;
//   }
//   a {
//     color: $primary-color;
//   }
// }

// .team-text {
//   text-align: center;
// }

// .team-picture {
//   border: 3px solid $light-grey;
//   border-radius: 4px;
//   width: 180px;
//   height: 180px;
//   overflow: hidden;
//   img {
//     width: 100%;
//   }
// }

// .adalaber {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   width: 100%;
//   padding: 15px;
// }

// .social-media {
//   padding-top: 20px;
// }
// li {
//   display: inline-block;
//   line-height: 30px;
//   padding-bottom: 30px;
// }
