.main {
  padding: 15px;
}

.asterisk {
  color: $secondary-color;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: left;
}
