// FOOTER

.footer {
  border-top: 1px solid $light-grey;
  width: 100%;
  height: 100%;
}

.footer .wrapper {
  display: flex;
  font-size: 0.88rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $font-main;
  bottom: 0;
  height: 250px;
}

.copyright {
  color: $light-grey;
}

.footer-nav {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

.footer-nav a {
  color: $dark-grey;
}

.logo {
  width: 116px;
  height: 45px;
  padding-bottom: 45px;
}

.logo img {
  width: 100%;
}

@media all and (min-width: 768px) {
  //FOOTER

  .footer {
    height: 170px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 85px 85px;
    // grid-template-areas: "copyright footer-nav" "logo footer-nav";
  }

  // .footer .wrapper {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-between;
  //   align-items: center;
  //   border: 1px solid red;
  // }

  .copyright {
    grid-column: 1;
    grid-row: 1;
    text-align: left;
    // display: inline-block;
    // text-align: left;
    // padding-top: 30px;
    // padding-bottom: 15px;
    // padding-left: 45px;
  }

  .footer-nav {
    grid-column: 2;
    grid-row: 1 / 3;
    text-align: right;
    // display: block;
    // text-align: right;
    // align-items: right;
    // padding-top: 0;
    // padding-bottom: 0;
    // padding-right: 45px;
    // padding-top: 30px;
  }

  .logo {
    grid-column: 1;
    grid-row: 2;
    // width: 116px;
    // height: 45px;
    // padding-bottom: 60px;
    // padding-left: 45px;
  }
}
