.hero {
  height: 467px;
  width: 100%;
}

.group-image img {
  height: 421px;
  width: 100%;
}

.image-1 {
  display: block;
}

.image-2 {
  display: none;
}

.claim-title {
  background-color: $framework-color;
  position: relative;
  height: 80px;
  transform: translate(0%, -50%);
  margin: 0 15px;
  padding: 10px 15px;

  span {
    display: block;
    text-align: left;
    line-height: 1.389rem;
    font-family: $font-main;
    font-weight: 600;
    font-size: 18px;
  }
}

@media all and (min-width: 768px) {
  .hero {
    height: 421px;
  }

  .image-1 {
    display: none;
  }

  .image-2 {
    display: block;
  }

  .claim-title {
    opacity: 80%;
    width: 441px;
    transform: translate(0%, -100%);
    margin: 0 45px;
    padding: 10px 30px;
  }
}

@media all and (min-width: 1200px) {
  .hero {
    height: 550px;
  }

  .group-image img {
    height: 550px;
  }

  .claim-title {
    height: 90px;
    width: 574px;
    margin: 0 138px;
    span {
      line-height: 1.458rem;
      font-size: 24px;
    }
  }
}
