/* EQUIPO */

.wrapper .team-description {
  padding: 30px 15px;
}

.team-description {
  height: fit-content;
  background-color: $light-color;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  padding: 30px 0px;
}

.team-description h2 {
  color: $secondary-color;
  font-family: $font-titles;
  line-height: 1.875rem;
  margin-bottom: 15px;
}

.team-description p {
  color: $dark-grey;
  font-size: 16px;
  font-family: $font-main;
  line-height: 1.5rem;
  text-align: center;
}

// SQUARE

.square {
  margin: auto;
  height: 30px;
  width: 30px;
  transform: translate(0%, 50%) rotate(45deg);
  background-color: $light-color;
}

@media all and (min-width: 768px) {
  //EQUIPO

  .wrapper .team-description {
    padding: 0 45px;
  }

  .team-description {
    padding: 45px 0px 30px;
    height: 255px;
  }
}

@media all and (min-width: 1200px) {
  //EQUIPO

  .wrapper .team-description {
    padding: 45px 138px 60px;
  }

  .team-description {
    height: 300px;
  }

  .team-description p {
    padding: 0 161px 0;
    opacity: 67%;
  }
}
