:root {
  /* COLORS */
  --primary-color: #099d8d;
  --secondary-color: #14d9c4;
  --framework-color: #f1f1f1;
  --dark-grey: #54585a;
  --light-grey: #b8b8b9;

  /* FONTS */
  --font-titles: "Rubik", sans-serif;
  --primary-font: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  /* border: 1px solid red; */
  padding: 0px 0px;
}

/* HEADER */

.header {
  display: block;
  border: 1px solid red;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}

/* le he metido un z-index para que se vea siempre por delante, porque al definir el hero más abajo se sobrepone al header */
.header-1 {
  background-color: var(--primary-color);
  text-align: center;
  font-family: var(--font-titles);
  color: white;
  opacity: 95%;
  padding: 15px;
  text-align: center;
}

.container {
  margin: 15px;
  padding: 0;
}
.header-nav {
  background-color: var(--secondary-color);
  padding: 8px 8px;
  opacity: 90%;
}

.header-nav-list {
  font-family: var(--font-titles);
  font-size: 15px;
  line-height: 30px;
  color: white;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.header-nav-list a {
  color: white;
}

/* MAIN */
.main {
  padding: 15px;
}

/* .wrapper {
  padding: 0 15px;
} */
/* creo que los padding deberían ir en los wrapper, para luego cambiarlo con mediaquaries */

/* HERO */

/* .hero -- el atributo no-repeat no funciona para esta foto ¿? */

.hero {
  position: relative;
  height: 421px;
  width: 100%;
  background-image: url(../images/prueba.png);
  background-position: top;
}

.claim {
  background-color: white;
  position: relative;
  height: 40px;
  width: 80%;
  left: 10%;
  transform: translate(0%, -50%);
}
/* posibilidad de meter la imagen creada en el motto */

.claim-title {
  font-family: var(--primary-font);
  font-size: 18px;
  margin: 0px;
  padding: 0px 15px;
  line-height: 1.389rem;
  text-align: left;
}

/* EQUIPO */
.team-description {
  border: 1px solid red;
  height: 504px;
  width: 100%;
  background-color: white;
  padding: 0px 0px;
}

.team-description .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.team-description h2 {
  color: var(--secondary-color);
  font-family: var(--font-titles);
  line-height: 1.875rem;
}

.team-description p {
  color: var(--dark-grey);
  font-size: 16px;
  font-family: var(--primary-font);
  line-height: 1.5rem;
  text-align: center;
}

.square {
  height: 30px;
  width: 30px;
  position: relative;
  transform: translate(0%, 50%) rotate(45deg);
  left: 50%;
  background-color: white;
}

/* FORTALEZAS Y DEBILIDADES*/
.strength-weakness {
  height: 579px;
  width: 100%;
  margin: 0px;
}
.strength-weakness .wrapper {
  background-color: var(--framework-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.strength-weakness h3 {
  color: var(--primary-color);
  font-family: var(--font-titles);
  font-size: 22px;
  line-height: 2.045rem;
}
.strength-weakness p {
  color: #54585a;
  font-size: 16px;
  font-family: var(--primary-font);
  text-align: center;
}

.strength {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
}

.weakness {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 45px;
}

/* QUIENES SOMOS */

.team-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-introduction h2 {
  color: var(--primary-color);
  font-size: 24px;
  font-family: var(--font-titles);
}

/* FOTOS */

/* El color del borde es otro, tenemos que encontrar cuál es. */
.team-picture {
  border: 3px solid var(--light-grey);
  border-radius: 4px;
  width: 180px;
  height: 180px;
  overflow: hidden;
}

.team-picture img {
  width: 100%;
}

/* DESCRIPCIONES */

.team-introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.member-1,
.member-2,
.member-3,
.member-4,
.member-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-introduction h4 {
  color: black;
  font-size: 20px;
  font-family: var(--primary-font);
}

.team-introduction p {
  color: var(--dark-grey);
  font-size: 16px;
  font-family: var(--primary-font);
  text-align: center;
}

/* REDES SOCIALES */
.social-media li {
  display: inline-block;
}

.team-introduction li:after {
  content: "·";
}
.team-introduction li:nth-last-child(1):after {
  content: none;
}
.team-introduction a {
  color: var(--primary-color);
}

/* FOOTER */
.footer {
  display: flex;
  font-size: 14px;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: var(--primary-font);
}

.copyright {
  color: var(--light-grey);
  margin-top: 30px;
}

.footer-nav {
  text-align: center;
}

.footer-nav a {
  color: var(--dark-grey);
}

.logo {
  width: 116px;
  height: 45px;
  margin-top: 30px;
  margin-bottom: 48px;
}

.logo img {
  width: 100%;
}
